<div class="orders">
  <h2>Completed Orders!</h2>
  <% if user.role != "admin" %>
    <% order_set = user_orders %>
  <% else %>
    <% order_set = all_orders %>
  <% end %>

  <% order_set.where(status: "complete").order(:pickup_end).each do |o| %>
    <%= o %>
  <% end %>
</div>
